/*google font export*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=League+Spartan:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 14%;
  background-color: #20282e;
}

.timer {
  color: #fdf800;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1%;
  font-size: 22px;
  text-shadow: 0 0 10px #fdf800;
}
.timer p span {
  font-weight: 900;
}

.typing_text::-webkit-scrollbar {
  display: none;
}

.content {
  margin: auto;
  width: 50%;
}

.input-field {
  font-family: "League Spartan", sans-serif;
  font-size: 19px;
  font-weight: 600;
  border: 0;
  color: #000000;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  outline: 0;
  margin-bottom: 2%;
  width: 17%;
}

.typing_text {
  font-weight: 500;
  font-size: 22px;
  color: #696969;
  text-align: left;
  letter-spacing: 1px;
  max-height: 24vh;
  overflow-y: auto;
}
.typing_text p span.correct {
  color: #77ffec;
  text-shadow: 0 0 6px #6ee4ff;
}
.typing_text p span.incorrect {
  color: #ff0000;
  text-shadow: 1px 12px 7px #f02e2e;
  font-weight: bold;
}
.typing_text p span.active {
  color: #36f15e;
  position: relative;
}
.typing_text p span.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background: #36f15e;
}

.type_menu {
  padding: 5% 12% 3% 12%;
  color: #fdf800;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 10px #fdf800;
}
.type_menu li {
  display: flex;
  list-style: none;
}
.type_menu li p {
  font-size: 19px;
}
.type_menu li span {
  margin-left: 10px;
  font-size: 24px;
}

.content button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.content button:active {
  transform: scale(0.9);
}
.remove_ops {
  opacity: 0;
}
